/********** 

 General Style | Bootstrap Override 

**********/

body, html {
  width: 100%;
  height: 100%;
}

section {
/*	position:relative;
	z-index:2;*/
}

p {
	letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-left:20%;
	margin-right:20%;
	line-height: 1.42857143 !important;
	font-weight: 300 !important;
}

input[type=text], input[type=email], textarea {
    border-top: 0px none !important;
    border-left: 0px none !important;
    border-right: 0px none !important;
    box-shadow: 0 0 0 #fff !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

textarea {
	margin-bottom:20px !important;
}

button {
	padding:25px 16px !important;
	color: #737373 !important;
	border-radius:0 !important;
	transition: color 0.35s ease 0s, background-color 0.35s ease 0s, border-color 0.35s ease 0s;
	-webkit-transition: color 0.35s ease 0s, background-color 0.35s ease 0s, border-color 0.35s ease 0s;
}

button:hover {
	color: #333 !important;
	border-color:#f1c40f !important;
	background-color:#f1c40f !important;
}

.container-fluid {
	height:106%;
	min-height:100%;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.row {
	height:100%;
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, 
.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, 
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, 
.col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, 
.col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, 
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, 
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, 
.col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.has-error .form-control {
    box-shadow: 0 0 0 #fff !important;
    -webkit-box-shadow:0 0 0 #fff !important;
}

.has-error .form-control:focus {
    box-shadow: 0 0 0 #fff !important;
    -webkit-box-shadow:0 0 0 #fff !important;

}

.form-control:focus {
    border-color: #f1c40f !important;
    box-shadow: 0 0 0 #fff !important;
    -webkit-box-shadow:0 0 0 #fff !important;
}

.input-lg {
	font-weight: 300 !important;
}

.btn-lg {
	font-weight: 300 !important;
}


/********** 

 Media Queries 

**********/

/* screen size 768 up */
@media (min-width: 768px) { 
	#landing h1 {
		font-size:5em !important;
		font-weight:500 !important;	
	}

	#landing h3 {
		font-size:1.4em !important;
	}

	#landing div div.scroll-box {
		width:90px !important;
		height:75px !important;
		padding:7px !important;
		border-radius:20px !important;
		font-size:17px !important;
	}

	#works h2 {
		font-size:4em !important;
		font-weight:500 !important;	
	}

	#works h5 {
		font-size:1.2em;
	}

	#works h6 {
		font-size:0.9em;
	}

	.item.he.animate h2 {
		transform: translate(0, -40%) translate(0, -70px) !important;
		-webkit-transform: translate(0, -40%) translate(0, -70px) !important;
	}

	#about-me h5 {
		margin-left:30%;
		margin-right:30%;
	}

	#contact form {
		width:50% !important;
	}

	#contact h1 {
		font-size:36px !important;
	}
}

/* screen size 992 up */
@media (min-width: 992px) { 
	#landing h1 {

		font-size:6em !important;
	}

	#landing h3 {
		font-size:1.8em !important;
	}

	#landing div div.scroll-box {
		width:100px !important;
		height:80px !important;
		font-size:19px !important;
	}

	#works h2 {
		font-size:4.5em !important;
	}

	#works h5 {
		font-size:1.3em;
	}

	#works h6 {
		font-size:1.1em;
	}
}

/* screen size 1200 up */
@media (min-width: 1200px) { 
	#landing h1 {
		font-size:8em !important;
	}

	#landing h3 {
		font-size:2.4em !important;
	}

	#landing div div.scroll-box {
		width:120px !important;
		height:100px !important;
		font-size:20px !important;
	}

	#works h2 {
		font-size:5em !important;
	}

	#works h5 {
		font-size:1.4em;
	}

	#works h6 {
		font-size:1.2em;
	}

	#about-me {
		height: 385px;
	}

	#about-me h5 {
		font-size:1.1em;
	}
}


/********** 

 Keyframes 

**********/

/* fade in & fade out effect*/
@-webkit-keyframes fadeOutIn {
	0% {opacity:1;}
	50% {opacity:.3;}
	100% {opacity:1;}
}
@-moz-keyframes fadeOutIn {
	0% {opacity:1;}
	50% {opacity:.3;}
	100% {opacity:1;}
}
@-o-keyframes fadeOutIn {
	0% {opacity:1;}
	50% {opacity:.3;}
	100% {opacity:1;}
}
@keyframes fadeOutIn {
  	0% {opacity:1;}
  	50% {opacity:.3;}
  	100% {opacity:1;}
}

/* up & down effect */
@-webkit-keyframes up-down {
  0%   { height: 25px; }
  50%  { height: 30px; }
  100% { height: 25px; }
}
@-moz-keyframes up-down {
  0%   { height: 25px; }
  50%  { height: 30px; }
  100% { height: 25px; }
}
@-o-keyframes up-down {
  0%   { height: 25px; }
  50%  { height: 30px; }
  100% { height: 25px; }
}
@keyframes up-down {
  0%   { height: 25px; }
  50%  { height: 30px; }
  100% { height: 25px; }
}

/* bouncing effect */
@-webkit-keyframes bounce { 
        0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}         
        40%, 60% {-webkit-transform: translateY(-30px);} 
} 
  
@-moz-keyframes bounce { 
        0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);} 
        40%, 60% {-moz-transform: translateY(-30px);} 
} 
  
@-o-keyframes bounce { 
        0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);} 
        40%, 60% {-o-transform: translateY(-30px);} 
} 
@keyframes bounce { 
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
        40%, 60% {transform: translateY(-30px);} 
}

/********** 

 Footer 

**********/

.wrap {
	height:100%;
	min-height: 100%;
	margin-bottom: 142px;
}

.wrap:after {
  content: "";
  display: block;
}

.footer, .wrap:after {
  height: 142px; 
}

.footer {
  background: #f1c40f;
}

.footer h5 {
	position: relative;
	top: 70px;
	margin-left:0;
	margin-right:0;
}


/**********

 Page Loading Spinner

**********/

#spinner {
	position: relative;
	top:0;
	bottom:0;
	width: 100%;
	height: 100%;
	background-image: url("../img/icon/logo.png");
	background-size:15%;
	background-repeat: no-repeat;
	background-position: center;
	animation: fadeOutIn 2s linear infinite;
	-webkit-animation: fadeOutIn 2s linear infinite;
}


/**********

 Home Section 

**********/

#home {
	position: relative;
	top: -20px;
	width:100%;
	height:100%;
	min-height:100%;
	background-color:#aaa;
}


/**********

 Landing View Section

**********/

/* landing image */
#landing {
	width:100%;
	background-color:#aaa;
    background-repeat: no-repeat;
    background-position: center;
}

#landing div {
	width:100%;
	height:100%;
}

.fill { 
    min-height: 100%;
    height:104%;
}

/* texts */
#landing div h1, #landing div h3 {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 100%;
	height: 50px;
	text-align: center;
	color: #FFF;
	line-height: 40px;
}

#landing div h1 {
	font-weight:500 !important;
	font-size:3em;
	top: -2em;
}

#landing div h3 {
	font-size:1em;
	top: 2em;
}

#landing div p {
	margin-bottom: 0;
}

/* hint box for scrolling */
#landing div div.scroll-box {
	position: absolute;
	right: 0;
	bottom: 2%;
	left: 0;
	width:80px;
	height:60px;
	padding:7px;
	border-radius:20px;
	color:#f1c40f;
	font-size:.9em;
}
  
.bounce { 
    -webkit-animation-name: bounce; 
    -moz-animation-name: bounce; 
    -o-animation-name: bounce; 
    animation-name: bounce; 

    -webkit-animation-fill-mode:both; 
    -moz-animation-fill-mode:both; 
    -ms-animation-fill-mode:both; 
    -o-animation-fill-mode:both; 
    animation-fill-mode:both; 
    
    -webkit-animation-iteration-count: infinite; 
    -moz-animation-iteration-count: infinite; 
    animation-iteration-count: infinite; 

    -webkit-animation-duration:2s; 
    -moz-animation-duration:2s; 
    -ms-animation-duration:2s; 
    -o-animation-duration:2s; 
    animation-duration:2s; 
} 

#landing .scroll-icon {
	background-image: url('../img/icon/arror.png');
	background-size:100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 10% auto;
}


/**********

 Portfolio Section

**********/

#works {
	width:100%;
	height:100%;
	min-height:200px;
	background-color:#aaa;
}

#works .project{
	width:100%;
	height:50%;
	z-index:2;
}

#works .item {
	position: relative;
    z-index: 2;
    overflow: hidden;
    width: 100%;
	height:100%;
	min-height:50%;
	margin:0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	/* for Chrome*/
	-webkit-backface-visibility: hidden;
	/*-webkit-transform: translateZ(0);*/
}

/* Mask on image */
.overlay {
	position: absolute;
    top: 0px;
    left: 0px;
	width:100%;
	height:100%;
	margin:0;
	text-align: center;
	color:#fff;
	position:absolute;
	bottom:0;
}

.overlay:after { 
    position:relative; 
    top:98.8%; 
    content: ''; 
    display: block; 
    margin: 0 auto; 
    height: 5px; 
    width: 0px; 
    opacity:1; 
    -webkit-transition:width .65s ease, background-color .65s ease; 
    transition: width .65s ease, background-color .65s ease; 
} 

.overlay h2 {
    position: absolute;
    top: 45%;
    left: 0px;
    width: 100%;
    margin:0 !important;
    -webkit-transition: -webkit-transform 0.35s ease 0s;
    -moz-transition: -moz-transform 0.35s ease 0s;
    -ms-transition: -ms-transform 0.35s ease 0s;
    -o-transition: -o-transform 0.35s ease 0s;
    transition: transform 0.35s ease 0s;

    -webkit-transform: -webkit-translate(0px, -50%);
    -moz-transform: -moz-translate(0px, -50%);
    -ms-transform: -ms-translate(0px, -50%);
    -o-transform: -o-translate(0px, -50%);
    transform: translate(0px, -50%);

}

.overlay h5, .overlay h6 {
	position: absolute;
	left: 25%;
	width: 50%;
	opacity: 0;
	margin:0 auto;
	-webkit-transition: -webkit-transform 0.35s ease 0s;
	-moz-transition: -moz-transform 0.35s ease 0s;
	-ms-transition: -ms-transform 0.35s ease 0s;
	-o-transition: -o-transform 0.35s ease 0s;
	transition: transform 0.35s ease 0s;

	-webkit-transform: translate(0px, 10px);
	-moz-transform: -moz-translate(0px, 10px);
	-ms-transform: -ms-translate(0px, 10px);
	-o-transform: -o-translate(0px, 10px);
	transform: translate(0px, 10px);
}

.overlay h5 {
	bottom: 30%;
}

.overlay h6 {
	bottom: 20%;
}

/* overlay animations */
.item.he .overlay::before{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background: rgba(0,0,0,0.6);
	-mos-background: rgba(0,0,0,0.6);
	-o-background: rgba(0,0,0,0.6);
	background: rgba(0,0,0,0.6);
	content: '';
	opacity: 0;
	
	-webkit-transition: opacity 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
	transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
}

.item.he.animate h2 {
	-webkit-transform: translate(0, -40%) translate(0, -45px);
	transform: translate(0, -40%) translate(0, -45px);
}

.item.he.animate .overlay::before, .item.he.animate h5, .item.he.animate h6 {
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.item.he.animate .overlay:after{ 
    width: 100%; 
    background: #f1c40f; 
} 

.hide-color {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
	filter: url(../svg/gray.svg#grayscale);
}

.show-color {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: initial;
	filter: grayscale(0%);
	filter: initial;
}


.project .front {
    cursor:pointer;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.project .back {
	position:absolute;
	top:0;
	width:100%;
	height:100%;
    z-index:1;
    background-color:#f1c40f;
    cursor:pointer;
    overflow-y:scroll;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.project .back h6 {
	margin-top:8px !important;
	margin-bottom:0 !important;
}

.back .mockup {
	overflow: hidden;
	width: 100%;
/*	max-height: 70%;
	min-height: 50%;*/
	height: 60%;
	margin-top: 3%;
	/*margin-bottom: 1%;*/
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
	overflow: hidden;
}

/* flip animation */
.project.flip .front, .project.ng-scope.flip .front {
    z-index: 3;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

}

.project.flip .back {
    z-index: 4;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}


/**********

 Transition landscape between works & about-me

**********/

.rock {
	width:100%;
	height:190%;
	background-color:#aaa;
}

.scene {
	top:8em;
	width:100%;
	height:100%;
	min-height:200px;
	background-color:#ccc;
    z-index: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
	/*background-size: 100% auto;*/
}


/**********

 About Me Section

**********/

#about-me {
	position:relative;
	z-index:2;
	width:100%;
	height:425px;
	background-color:#f1c40f;
}

#about-me img {
	position:relative;
	margin:0 auto;
	height:auto;
	z-index:1;
}

#about-me .head {
	top:-100px;
	width:200px;
	min-width:120px;
	border-radius: 50%;
}

#about-me h3 {
	position: relative;
	top: -3.5em;
	margin-top:10px !important;
}

#about-me h5 {
	position:relative;
	top:-70px;
}

#about-me .linkedin {
	position:relative;
	top:-4em;
	width:3em;
	height:3em;
	border-radius:50%;
	border: 1px solid #333;
	-webkit-transition: all 0.35s ease 0s;
	-moz-transition: all 0.35s ease 0s;
	-ms-transition: all 0.35s ease 0s;
	-o-transition: all 0.35s ease 0s;
	transition: all 0.35s ease 0s;
}

#about-me .linkedin:hover {
	border-radius:0;
}

#about-me .linkedin img {
	position: relative;
	top: 0.5em;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width:1.7em;
	height: auto;
}


/**********

 Contact Section

**********/

#contact {
	width:100%;
	height:auto;
	min-height:200px;
	background-color:#fff;
}

#contact form {
	width:60%;
	margin:0 auto !important;
	padding-top:6%;
	padding-bottom:6%;
}

#contact textarea {
	resize:none;
}

#contact h1, #contact h4,#contact p {
	margin-top:0px;
	margin-bottom:5px;
	margin-left:0 !important;
	margin-right:0 !important;
}

#contact h1 {
	font-size:2.4em ;
}

#contact p {
	font-size:80% !important;
}


