.container {
  min-height: 100vh;
  width: 100%;
  padding: 2.5rem 1rem 2rem;
  margin: 0 auto;
}

.wrap {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.wrap > h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

@media (max-width: 576px) {
  .wrap > h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}
