.container {
  min-height: 100vh;
  width: 100%;
  padding: 0rem 1rem 2rem;
  margin: 0 auto;
}

.wrap {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.wrap > h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

@media (max-width: 576px) {
  .wrap > h1 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: var(--text-secondary-color);
}

.info p {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .info {
    flex-direction: column;
    align-items: flex-start;
  }
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

.author p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
