.wrap {
  display: flex;
  align-items: flex-start;
  margin-top: 5rem;
}

@media (max-width: 576px) {
  .wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.wrap a {
  color: var(--text-primary-color);
  transition: color 0.15s ease;
}

.wrap a:hover,
.wrap a:active {
  color: rgba(0, 124, 240, 1);
}

.avatar {
  vertical-align: middle;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
