.wrap {
  max-width: 720px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.wrap h1 {
  font-size: 2.5rem;
  line-height: 1.15;
}

.wrap svg {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

.wrap svg text {
  fill: var(--white);
}
