.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.description {
  max-width: 720px;
}

.description h1 {
  font-size: 2.5rem;
  line-height: 1.15;
}

.list {
  max-width: 720px;
  margin-top: 0rem;
}

@media (max-width: 768px) {
  .list {
    width: 100%;
    flex-direction: column;
  }
}

.item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.itemDescription {
  flex-grow: 1;
  flex-basis: 60%;
}

.itemDescription h2 {
  margin: 0;
  transition: color 0.15s ease;
}

.itemDescription h2:active,
.itemDescription h2:hover {
  color: rgba(0, 124, 240, 1);
}

.itemDescription p {
  margin: 0.5rem 0;
}

.link {
  width: 100%;
  margin-top: 1rem;
  transition: color 0.15s ease;
}

.link:active,
.link:hover {
  color: rgba(0, 124, 240, 1);
}

@media (max-width: 768px) {
  .itemDescription {
    flex-basis: 100%;
  }
}
