.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.description {
  max-width: 720px;
}

.description h1 {
  font-size: 2.5rem;
  line-height: 1.15;
}

.list {
  max-width: 720px;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .list {
    width: 100%;
    flex-direction: column;
  }
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  padding: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease, background-color 0.15s ease;
}

.item:hover,
.item:focus,
.item:active {
  box-shadow: 0px 4px 8px var(--shadow-color);
}

@media (max-width: 768px) {
  .item {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .item:hover,
  .item:focus,
  .item:active {
    box-shadow: none;
  }
}

@media (prefers-color-scheme: dark) {
  .item:hover,
  .item:focus,
  .item:active {
    background-color: var(--background-paper-color);
  }
}

.item a {
  text-decoration: none;
}

.itemImage {
  margin-right: 3rem;
  margin-bottom: 0.5rem;
}

.itemImage img {
  width: 48px;
}

.itemDescription {
  flex-grow: 1;
  flex-basis: 60%;
}

.itemDescription h2 {
  margin: 0;
  transition: color 0.15s ease;
  text-decoration: underline;
}

.item:active h2,
.item:hover h2 {
  color: rgba(0, 124, 240, 1);
}

.itemDescription p {
  margin: 0.5rem 0;
}

.link {
  width: 100%;
  margin-top: 1rem;
  transition: color 0.15s ease;
}

.link:active,
.link:hover {
  color: rgba(0, 124, 240, 1);
}

@media (max-width: 768px) {
  .itemImage {
    margin-right: 0;
  }

  .itemImage img {
    width: 78px;
  }

  .itemDescription {
    flex-basis: 100%;
  }
}
