.hero {
  max-width: 960px;
  width: 100%;
  margin: 1rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 6.5rem;
  font-weight: 900;
}

@media (max-width: 600px) {
  .title {
    font-size: 4.8rem;
  }
}

.heroTitle {
  position: relative;
  display: block;
  user-select: none;
}

.heroTitle_1::before {
  content: 'software engineer';
  position: absolute;
  display: block;
  width: fit-content;
  color: var(--text-primary-color);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animatedTitle_1 {
  position: relative;
  display: block;
  width: fit-content;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(0, 112, 243, 1),
    rgba(0, 223, 216, 1)
  );
  animation: animation_1 7s infinite;
}

.heroTitle_2::before {
  content: 'ux designer';
  position: absolute;
  display: block;
  width: fit-content;
  color: var(--text-primary-color);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animatedTitle_2 {
  position: relative;
  display: block;
  background-clip: text;
  width: fit-content;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(121, 40, 202, 1),
    rgba(255, 0, 128, 1)
  );
  animation: animation_2 7s infinite;
}

.heroTitle_3::before {
  content: 'mentor';
  position: absolute;
  display: block;
  width: fit-content;
  color: var(--text-primary-color);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animatedTitle_3 {
  position: relative;
  display: block;
  background-clip: text;
  width: fit-content;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    rgba(255, 77, 77, 1),
    rgba(249, 203, 40, 1)
  );
  animation: animation_3 7s infinite;
}

@keyframes animation_1 {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes animation_2 {
  0%,
  100% {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
  16.667%,
  66.667% {
    opacity: 0;
  }
}

@keyframes animation_3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}
