.footer {
  width: 100%;
  background-color: #fafafa;
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrap {
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer a {
  transition: color 0.15s ease;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.footer a:hover,
.footer a:active {
  color: rgba(0, 124, 240, 1);
}

.contact {
  flex-basis: 33.33%;
}

.resources {
  flex-basis: 33.33%;
}

.sitemap {
  flex-basis: 33.33%;
}

.sitemap a {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

@media (max-width: 576px) {
  .contact {
    flex-basis: 100%;
  }

  .resources {
    flex-basis: 100%;
  }
}
.emoji {
  margin-right: 0.5rem;
}

.copyright {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 2rem;
}

.copyright a {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
}
