.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem 0;
  width: 100%;
}

.search {
  flex-basis: calc(50% - 0.5rem);
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--text-primary-color);
  width: 100%;
  background-color: var(--background-default-color);
  color: var(--text-primary-color);
}

@media (max-width: 576px) {
  .search {
    flex-basis: 100%;
  }
}

.result {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-basis: calc(50% - 0.5rem);
}

@media (max-width: 576px) {
  .result {
    flex-basis: 100%;
  }
}

.list {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list > svg {
  flex-basis: 1.5rem;
}

.link {
  flex-basis: calc(100% - 1.5rem);
}

.resultTitle {
  margin-top: 0.5rem;
}
