.menubar {
  display: flex;
  width: 100%;
  padding: 1.2rem 1rem;
  justify-content: flex-end;
  align-items: center;
}

.menubar > * {
  cursor: pointer;
}

.menubar > *:not(:last-child) {
  margin-right: 1rem;
}

.menubar a > * {
  vertical-align: middle;
}
