.links a,
.links span {
  display: block;
  margin-bottom: 1rem;
  cursor: pointer;
}

.iconLink > * {
  vertical-align: middle;
}

.iconLink > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.profile {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px var(--divider-color) solid;
}

.profile > *:not(:last-child) {
  margin-right: 1rem;
}
