.link {
  display: block;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: initial;
  border: initial;
  padding: initial;
  text-align: initial;
  font-size: initial;
  font-family: unset;
  color: var(--text-primary-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.iconLink > * {
  vertical-align: middle;
}

.iconLink > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.pusher {
  flex-grow: 1;
}

.profile {
  display: flex;
  margin-bottom: 1rem;
}

.divider {
  display: block;
  height: 1px;
  background-color: var(--divider-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile > *:not(:last-child) {
  margin-right: 1rem;
}
