.links a,
.links span {
  display: block;
  margin-bottom: 1rem;
  cursor: pointer;
}

.iconLink > * {
  vertical-align: middle;
}

.iconLink > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.profile {
  display: flex;
  margin-bottom: 1rem;
}

.divider {
  display: block;
  height: 1px;
  background-color: var(--divider-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile > *:not(:last-child) {
  margin-right: 1rem;
}
