.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  max-width: 720px;
  padding: 1rem 0;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main h1 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 0;
}

.main h2 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-secondary-color);
  margin-top: 0;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  .main h1 {
    font-size: 2rem;
  }
}

.banner {
  background-color: var(--text-primary-color);
  color: var(--text-invert-color);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  transform: translateY(-4rem);
}

.description {
  transform: translateY(-2rem);
}

@media (max-width: 992px) {
  .banner {
    transform: translateY(0);
    margin-bottom: 1rem;
  }

  .description {
    transform: translateY(0);
  }
}

.grid {
  display: flex;
  margin-bottom: 1rem;
}

.grid a {
  transition: color 0.15s ease;
}

.grid a:hover,
.grid a:active {
  color: rgba(0, 124, 240, 1);
}

.grid .date {
  flex-basis: 30%;
  color: var(--text-secondary-color);
}

.grid .description {
  flex-basis: 70%;
  padding-left: 2rem;
  color: var(--text-secondary-color);
}

.grid .description .caption {
  font-size: 0.9rem;
  color: var(--text-secondary-color);
  margin-top: 1rem;
  display: block;
  font-weight: normal;
  text-decoration: none;
  width: fit-content;
}

.grid .description .caption:hover > span,
.grid .description .caption:active > span {
  color: rgba(0, 124, 240, 1);
}

.grid .description .caption > span {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .grid {
    flex-direction: column;
  }

  .grid .description {
    padding-left: 0;
  }

  .date > p {
    margin: 1rem 0 0.5rem;
  }

  .description .category {
    margin: 0 0 0.5rem;
  }
}

/* article title */
.description > a {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-primary-color);
}

.description .avatar {
  vertical-align: middle;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
