.main {
  width: 100%;
  max-width: 720px;
  padding: 1rem 0;
  margin: 0 auto;
}

.main h1 {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 0;
}

.main h2 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-secondary-color);
  margin-top: 0;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  .main h1 {
    font-size: 2rem;
  }
}
