.main {
  width: 100%;
  max-width: 720px;
  padding: 1rem 0;
  margin: 0 auto;
}

.main h1 {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 0;
}

.main h2 {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-secondary-color);
  margin-top: 0;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }
}

@media (max-width: 576px) {
  .main h1 {
    font-size: 2rem;
  }
}

.tags {
  display: flex;
  flex-flow: wrap;
  gap: 0.25rem;
}

@media (max-width: 576px) {
  .tags {
    margin-top: 1rem;
  }
}

.tag {
  background: var(--background-paper-color);
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
  border-radius: 2rem;
}

.link {
  width: 100%;
  margin-top: 1rem;
}

.project {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 720px;
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .project {
    flex-direction: column-reverse;
  }
}

.projectDescription {
  flex-basis: 60%;
}

.projectDescription h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

.imageContainer {
  flex-basis: 40%;
}

.image {
  width: 100%;
  max-width: 22rem;
  position: relative;
  margin: 0 auto 1rem;
}

.image img {
  margin-top: 1rem;
  width: 100%;
  border-radius: 1rem;
  transform: translate(-1rem, 0rem);
  filter: brightness(0.9);
}

:global(.dark) .image img {
  filter: initial;
}

.image .imageShadow {
  margin-top: 1rem;
  width: 100%;
  height: calc(100% - 1rem);
  border: 4px solid rgba(0, 112, 243, 1);
  position: absolute;
  border-radius: 1rem;
  top: 0;
  z-index: -1;
  transform: translate(0rem, 1rem);
  transition: transform 0.15s ease;
}

.image:active .imageShadow,
.image:focus .imageShadow,
.image:hover .imageShadow {
  transform: translate(-0.25rem, 0.5rem);
}

@media (max-width: 768px) {
  .image img {
    transform: translate(-0.5rem, 0rem);
  }

  .image .imageShadow {
    transform: translate(0.5rem, 1rem);
  }

  .image:active .imageShadow,
  .image:focus .imageShadow,
  .image:hover .imageShadow {
    transform: translate(0.25rem, 0.5rem);
  }
}

.cfa {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--text-primary-color);
  color: var(--text-primary-color);
  text-decoration: none;
  transition: color 0.15s ease, background-color 0.15s ease, border 0.15s ease;
}

.cfa:active,
.cfa:focus,
.cfa:hover {
  border: 2px solid rgba(0, 124, 240, 1);
  color: rgba(0, 124, 240, 1);
  background-color: rgba(0, 124, 240, 0.25);
}

.repos {
  margin-top: 2rem;
}
