body {
  /* palette */
  --text-primary-color: #000000;
  --text-secondary-color: rgba(0, 0, 0, 0.54);
  --text-disabled-color: rgba(0, 0, 0, 0.38);
  --text-invert-color: #ffffff;
  --text-invert-secondary-color: rgba(255, 255, 255, 0.7);
  --background-default-color: #ffffff;
  --background-paper-color: #fafafa;
  --background-elevated-color: #ffffff;
  --divider-color: rgba(0, 0, 0, 0.12);
  --action-active-color: rgba(0, 0, 0, 0.54);
  --action-hover-color: rgba(0, 0, 0, 0.04);
  --action-selected-color: rgba(0, 0, 0, 0.08);
  --action-disabled-color: rgba(0, 0, 0, 0.26);
  --action-disabledBackground-color: rgba(0, 0, 0, 0.12);
  --shadow-color: rgba(0, 0, 0, 0.12);

  /* viewport */
  --viewport-sm: 576px;
  --viewport-md: 768px;
  --viewport-lg: 992px;
  --viewport-xl: 1200px;
}

body.dark {
  /* palette */
  --text-primary-color: #ffffff;
  --text-secondary-color: rgba(255, 255, 255, 0.7);
  --text-disabled-color: rgba(255, 255, 255, 0.5);
  --text-invert-color: #000000;
  --text-invert-secondary-color: rgba(0, 0, 0, 0.7);
  --background-default-color: #000000;
  --background-paper-color: #121212;
  --background-elevated-color: #151515;
  --divider-color: rgba(255, 255, 255, 0.12);
  --action-active-color: #fff;
  --action-hover-color: rgba(255, 255, 255, 0.08);
  --action-selected-color: rgba(255, 255, 255, 0.16);
  --action-disabled-color: rgba(255, 255, 255, 0.3);
  --action-disabledBackground-color: rgba(255, 255, 255, 0.12);
  --shadow-color: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--background-default-color);
  color: var(--text-primary-color);
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

pre {
  border-radius: 0.25rem;
}

:not(pre) > code {
  color: var(--text-primary-color);
  background: #f1f1f1;
  border-radius: 0.25rem;
  padding: 0 4px;
}

body.dark :not(pre) > code {
  background: #1e1e1e;
}

blockquote {
  border-left: 6px solid var(--text-disabled-color);
  margin: 1rem 0;
  padding: 0 1rem;
}

hr {
  margin: 2rem 0;
  border-color: var(--divider-color);
}

svg text {
  fill: #000000;
}
svg rect {
  stroke: #000000;
}

body.dark svg text {
  fill: #ffffff;
}
body.dark svg rect {
  stroke: #ffffff;
}
