:root {
  --main-color: rgba(0, 0, 0, 1);
  --main-color-hover: rgba(0, 0, 0, 0.75);
  --complement-color: #fff;
  --background-color: #121212;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2rem;
  height: 2rem;
  left: 1rem;
  top: 1rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--main-color);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--main-color-hover);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2rem !important;
  width: 2rem !important;
  right: 1rem !important;
  top: 1rem !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--main-color);
  color: var(--complement-color);
  right: 2rem;
  top: 2rem;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--background-color);
  padding: 4em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--background-color);
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--complement-color);
}

.bm-item-list a {
  text-decoration: none;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}
