/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2rem;
  height: 2rem;
  left: 1rem;
  top: 1rem;
  color: var(--text-primary-color);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--text-primary-color);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--action-hover-color);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2rem !important;
  width: 2rem !important;
  right: 1rem !important;
  top: 1rem !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--background-paper-color);
  color: var(--text-primary-color);
  right: 2rem;
  top: 2rem;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--background-paper-color);
  padding: 4rem 1.5rem 2rem;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--background-paper-color);
}

/* Wrapper for item list */
.bm-item-list {
  color: var(--text-primary-color);
  display: flex;
  flex-direction: column;
}

.bm-item-list a {
  text-decoration: none;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

.bm-item:first-of-type {
  flex-grow: 1;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}
